<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Disable viewport zooming -->
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

  <!-- <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" /> -->
  <!-- <link rel="stylesheet" href="/vendor/border-box.css" /> -->
  <link rel="stylesheet" href="/styles/main.css" />
  <!-- <link rel="stylesheet" href="/styles/layout.css" /> -->
  <!-- <link rel="stylesheet" href="/styles/profile.css"> -->
  <!-- <link rel="stylesheet" href="/styles/landing.css"> -->

  <script src="/vendor/jquery-3.0.0.js"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />

  <!-- Font-awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <%- include('partials/_header') %>
  <div class="container">
    <a href="map/all">
      <article class="picture">
        <img class="img-container" src="https://i.pinimg.com/originals/d7/ae/01/d7ae0170d3d5ffcbaa7f02fdda387a3b.gif"
        href="map/all">
      </article>
    </a>
    <div class="sample_maps">
      <a href="map/1">
        <article class=each_map>
          <p>
            <%= maps[0].title %>
          </p>
          <img class=sample_maps_pics src="<%= maps[0].coverurl %>">
          <p class="description">
            <%= maps[0].description %>
          </p>
        </article>
      </a>
      <a href="map/2">
        <article class=each_map>
          <p>
            <%= maps[1].title %>
          </p>
          <img class="sample_maps_pics" src="<%= maps[1].coverurl %>">
          <p class="description">
            <%= maps[1].description %>
          </p>
        </article>
      </a>
      <a href="map/3">
        <article class="each_map">
          <p>
            <%= maps[2].title %>
          </p>
          <img class="sample_maps_pics" src="<%= maps[2].coverurl %>">
          <p class="description">
            <%= maps[2].description %>
          </p>
        </article>
      </a>
    </div>
  </div>
  </body>

</html>